body{
    background-color: dimgray;
}

#cabecera{
        width: 100%;
        height: 20rem;
        color: crimson;
        background-color: black;
}

#imagen{
    height: 50rem;
    width: 50rem;

}

#img{
        display: flex;
        justify-content: end;
}

#caja-oracion{
        display: flex;
        justify-content: start;
        width: 40rem;
}

#palabras{

        font-size: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: deepskyblue;

}

#palabras:hover{
        color: darkred;
}

#contenedor-principal{
    margin: auto;
    width: 50rem;
    background-color: dimgray;
}
#titulo{
    position: relative;
    width: 100rem;
    line-height: 20rem;
    left: 30rem;
}